@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

:root {
    --color1: #FDEED1;
    --color2: #FE2C1F;
    --color3: #492000;
    --color4: #FFD5D2;
    --color5: #1C1C2E;
    --border-radius: 20px;
    --padding: 20px;
}

.calendar-area {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: start;
    gap: 20px;
    align-items: center;
    background-color: var(--color5);
    flex-direction: column;
    color: var(--color1);
    position: relative;
}

.calendar-area-travels {
    width: 72%;
    display: flex;
    height: 30%;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.section-calendar-h3 {
    font-family: "Quicksand", serif;
    text-transform: uppercase;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
    user-select: none;
}
.section-calendar-p {
    font-family: 'Lora', serif;
    width: 100%;
    height: 100%;
    text-wrap: wrap;
    font-size: 1.6rem;
}

.travels-container {
    height: 520px;
}

.place-create-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.500);
    display: none;
    justify-content: center;
    align-items: center;
}

.place-create-form {
    width: 500px;
    height: 60%;
    border-radius: 20px;
    background-color: var(--color1);
    display: flex;
    position: relative;
    color: var(--color2);
    font-family: "Quicksand", serif;
    text-transform: uppercase;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    user-select: none;
}

.place-create-container.block, .place-create-form.block {
    display: flex;
}

.place-create-inputs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.place-create-input-container {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.place-create-inputs div i {
    width: 20px;
    font-size: 25px;
    height: 20px;
    color: var(--color3);
    margin: 0px 5px 10px 0px;
}

.place-create-inputs input {
    margin: 0px 5px 10px 0px;
    width: 50%;
    background-color: var(--color2);
    padding: 10px;
    border: none;
    border-radius: 5px;
    placeholder: var(--color1);
    font-family: 'Lora', serif;
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--color1);
    outline: none;
}

::placeholder {
  color: var(--color1);
  opacity: 1; 
}

.place-create-close {
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
    color: var(--color2)
}

.place-create-form button {
    margin: 0px 5px 10px 0px;
    width: 30%;
    background-color: var(--color2);
    padding: 10px;
    border: none;
    border-radius: 5px;
    placeholder: var(--color1);
    font-family: 'Quicksand', serif;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--color1);
    outline: none;
}

.travels-container {
    padding: var(--padding);
    width: 72%;
    height: 60%;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    scrollbar-color: var(--color1);
    scroll-behavior: smooth;
    padding-bottom: 10px;
}

.travels-container-no-reservation {
    font-size: 2rem;
    font-family: "Quicksand", serif;
}

.travel-container {
    flex: 0 0 auto;
    background-color: var(--color1);
    width: 15em;
    height: 22em;
    border-radius: 20px;
    position: relative;
    overflow: hidden; 
    margin: 20px 0px 0px 0px;
    user-select: none;
}

.travel-h3-container {
    position: absolute;
    top: 50%;
    left: 50%;
}

.travels-container::-webkit-scrollbar-track {
    background: var(--color3);
    border-radius: 10px;
}

.travels-container {
    scrollbar-width: thin;
    scrollbar-color: var(--color1) var(--color1);
}

.travels-container::-webkit-scrollbar {
    height: 8px;
}

.travel-container img {
    width: 100%;
    height: 100%;
}

.travel-inner-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.500);
    left: 90%;
    top: 0%;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: left 0.6s ease-in-out;
}

.travel-inner-container.opened {
    left: 0%;
}

.travel-inner-container-icon i {
    transition: transform 0.3s ease-in-out;
}

.travel-inner-container.opened .travel-inner-container-icon i {
    transform: rotate(180deg);
}

.travel-inner-container a {
    color: var(--color1);
    padding: 5px;
    cursor: pointer;
    width: max-content;
    height: max-content;
    text-align: center;
}


.travel-info-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color1);
    left: 0%;
    top: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    transition: top 0.6s ease-in-out 0s; 
    transition-delay: 0.6s;
}

.travel-info-container.opened {
    top: 0%;
}

.travel-info-inner-container i {
    transition: transform 0.8s ease-in-out;
    transition-delay: 0.6s;
}

.travel-info-container.opened .travel-info-inner-container i {
    transform: rotate(180deg);
}

.travel-info-inner-container a {
    cursor: pointer;
    margin: 5px 0px 0px 0px;
    width: max-content;
    height: max-content;
    text-align: center;
    transform: rotate(180deg);
}

.travel-info-inner-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.travel-info-inner-details-container {
    font-size: 13px;
    color: var(--color3);
    font-family: "Quicksand", serif;
    user-select: none;
}

.travel-info-inner-buttons-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: var(--color3);
    font-family: "Quicksand", serif;
}

.travel-info-inner-buttons-container button {
    margin: 0px 5px 10px 0px;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--color2);
    placeholder: var(--color1);
    font-family: 'Quicksand', serif;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--color1);
    outline: none;
    user-select: none;
}

.travel-info-inner-buttons-container button:first-of-type {
    background-color: var(--color5);
}

.travel-dequeue-btn-container {
    width: 50%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.travel-dequeue-btn {
    width: 20%;
    height: 50%;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: var(--color1);
    color: var(--color3);
    font-family: 'Quicksand', serif;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}