@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');


:root {
    --color1: #FDEED1;
    --color2: #FE2C1F;
    --color3: #492000;
    --color4: #FFD5D2;
    --color5: #1C1C2E;
    --border-radius: 20px;
    --padding: 20px;
}

.calendar-area {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-color: var(--color2);
    flex-direction: column;
    color: var(--color1);
    position: relative;
}

.calendar-area-travels {
    width: 72%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.section-calendar-h3 {
    font-family: "Quicksand", serif;
    text-transform: uppercase;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
    user-select: none;
}
.section-calendar-p {
    font-family: 'Lora', serif;
    width: 100%;
    height: 100%;
    text-wrap: wrap;
    font-size: 1.6rem;
}

.travels-container {
    height: 520px;
}