html, body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(45, 45, 45);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

div:nth-child(1), div:nth-child(3) {
    width: 20%;
}

.searchbar {
    width: 100%;
    height: 2.5rem;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: aliceblue;
    outline: none;
    border: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(45, 45, 45);
}

.searchbar::placeholder {
    color: rgb(45, 45, 45);
}

.people {
    background-color: rgb(19, 140, 120);
    overflow-y: scroll;
    width: 50%;
    height: 15%;
    display: flex;
    justify-content: start;
    border-radius: 10px;
    padding: 5px 10px;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    gap: 10px;
    align-items: start;
    flex-wrap: wrap;
}

div:nth-child(3) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prev, .next {
    border: none;
    outline: none;
    background-color: blanchedalmond;
    color: rgb(45, 45, 45);
    font-size: 18px;
    padding: 5px 10px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
}
.prev:disabled, .next:disabled {
    background-color: rgb(36, 36, 203);
    color: aliceblue;
}

